.main {
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 2em;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.conteudo {
    margin-bottom: 2em;
    width: 80%;
    margin: auto;
}

.titulo {
    font-size: 2em;
    text-align: center;
}

.form {
    width: 70%;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.input {
    border-radius: 5px;
    border: solid gray 1px;
    background-color: rgb(236, 236, 236);
    color: black;
    width: 80%;
    margin: auto;
    margin-top: 1em;
    height: 2em;
    padding-left: 0.5em;
}